<a href="https://colab.research.google.com/github/smayan-kumar-panda/capGcodes/blob/main/PandasCapG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# looks like 1d array--> series(single columns)
# looks like 2d array --> dataframes

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# series

s=pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
s2=pd.Series([10,20,30,40],name='numbers',index=range(1,5))
s2

1    10
2    20
3    30
4    40
Name: numbers, dtype: int64

In [ ]:
s3=pd.Series((1,2,3,4.5,5,True,{1,2}))
s3

# series is prefreed to be homogeneous but even if there is diffrent data types it will upcast it to object
# the boolean in series stays as it is
# the type of the series is object

0         1
1         2
2         3
3       4.5
4         5
5      True
6    {1, 2}
dtype: object

In [ ]:
s4=pd.Series({1:'a',2:'b',3:'c'})
s4

1    a
2    b
3    c
dtype: object

In [ ]:
a=np.array([1,2,3,'string'])
s_c=pd.Series(a)
s_c

0         1
1         2
2         3
3    string
dtype: object

In [ ]:
# dataframes

df=pd.DataFrame(a,s)
df

         0
10       1
20       2
30       3
40  string

In [ ]:
data = {
    "Name": ["Rahul", "Amit", "Sita"],
    "Age": [21, 22, 20],
    "Marks": [85, 90, 88],
    "Gender":('M','M','F')
}

df1 = pd.DataFrame(data,index=range(10,13))
print(df1)

     Name  Age  Marks Gender
10  Rahul   21     85      M
11   Amit   22     90      M
12   Sita   20     88      F

In [ ]:
# accessing the column frm the dataframe

df1.Name
df1.Age
df1.Name[10]  # accessing the single row data using the index provided

'Rahul'

In [ ]:
df1.info() # information of the table
df1.describe()  # collects the numeric value from the table

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 10 to 12
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Marks   3 non-null      int64
 3   Gender  3 non-null      object
dtypes: int64(2), object(2)
memory usage: 228.0+ bytes

        Age      Marks
count   3.0   3.000000
mean   21.0  87.666667
std     1.0   2.516611
min    20.0  85.000000
25%    20.5  86.500000
50%    21.0  88.000000
75%    21.5  89.000000
max    22.0  90.000000

In [ ]:
df1.columns

Index(['Name', 'Age', 'Marks', 'Gender'], dtype='object')

In [ ]:
df1.head()  # fetches top 5 rows(default)
df1.tail()  # fetches bottom 5 rows(default)
df1.head(1)  # fetches 1 row

df1['Name'].unique()    # gives the unique values in a single column
df1['Gender'].unique()

array(['M', 'F'], dtype=object)

In [ ]:
df1['Gender'].value_counts()  # give the count of a particular value in a column
df1.sort_values('Name')   # sort values in a particular column
df1.sort_values('Name',ascending=False)   # sorts in descending order

     Name  Age  Marks Gender
12   Sita   20     88      F
10  Rahul   21     85      M
11   Amit   22     90      M

In [ ]:
df1.reset_index()  # resets the index

   index   Name  Age  Marks Gender
0     10  Rahul   21     85      M
1     11   Amit   22     90      M
2     12   Sita   20     88      F

In [ ]:
df1.reset_index(inplace=True)  # makes permanent changes on the dataframe and does not work on Series or single columns
df1

   index   Name  Age  Marks Gender
0     10  Rahul   21     85      M
1     11   Amit   22     90      M
2     12   Sita   20     88      F

In [ ]:
sorted_by_marks=df1.sort_values('Marks')
sorted_by_marks

   index   Name  Age  Marks Gender
0     10  Rahul   21     85      M
2     12   Sita   20     88      F
1     11   Amit   22     90      M

In [ ]:
sorted_by_marks.drop(0)
#sorted_by_marks.drop('level_0',axis=1,inplace=True)
sorted_by_marks

   index   Name  Age  Marks Gender
0     10  Rahul   21     85      M
2     12   Sita   20     88      F
1     11   Amit   22     90      M

In [ ]:
# indexing and slicing in series

# there is no negative indexing in series

s[0]
s[0:2]
s[0:2:1]  # slicing

s[::-1]  # reverse slicing is possible
s[-1:-3:-1]

3    40
2    30
dtype: int64

In [ ]:
df1
# indexing and slicing

df1['Name']
df1['Name'][0]

df1[0::2]
df1['Marks'][-1::]

# NOTE--> negative indexing in df and series is not ideal so we avoid negative indexing , we either use our own custom index or positive indexing

2    88
Name: Marks, dtype: int64

In [ ]:
# covering limitation
df1.loc[[0],['Name','Age']]
df1.loc[[0,1],['Name','Age']]

    Name  Age
0  Rahul   21
1   Amit   22

In [ ]:
df1.loc[0::1,['Name','Age']]

    Name  Age
0  Rahul   21
1   Amit   22
2   Sita   20

In [ ]:
# iloc

df1.iloc(1::2,0:4)

SyntaxError: invalid syntax (ipython-input-3732660221.py, line 3)

In [ ]:
# importing dataset from source

data = pd.read_csv("https://raw.githubusercontent.com/Taj1920/Data-Analysis-Datasets/refs/heads/main/Datasets-Practice/titanic.csv")
data

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0
...,...,...,...,...,...,...,...,...,...,...,...
1304,3,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,0
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0
1306,3,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,0
1307,3,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,0
1308,3,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,0

In [ ]:
data2=pd.read_csv('amazon_fires.csv',encoding='ISO-8859-10')
data2

       ano       mes     estado   numero  encontro
0     1998   Janeiro       Acre  0 Fires  1/1/1998
1     1999   Janeiro       Acre  0 Fires  1/1/1999
2     2000   Janeiro       Acre  0 Fires  1/1/2000
3     2001   Janeiro       Acre  0 Fires  1/1/2001
4     2002   Janeiro       Acre  0 Fires  1/1/2002
...    ...       ...        ...      ...       ...
6449  2012  Dezembro  Tocantins      128  1/1/2012
6450  2013  Dezembro  Tocantins       85  1/1/2013
6451  2014  Dezembro  Tocantins      223  1/1/2014
6452  2015  Dezembro  Tocantins      373  1/1/2015
6453  2016  Dezembro  Tocantins      119  1/1/2016

[6454 rows x 5 columns]

In [ ]:
data

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0
...,...,...,...,...,...,...,...,...,...,...,...
1304,3,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,0
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0
1306,3,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,0
1307,3,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,0
1308,3,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,0

In [ ]:
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   int64
 1   name      1309 non-null   object
 2   sex       1309 non-null   object
 3   age       1046 non-null   float64
 4   sibsp     1309 non-null   int64
 5   parch     1309 non-null   int64
 6   ticket    1309 non-null   object
 7   fare      1308 non-null   float64
 8   cabin     295 non-null    object
 9   embarked  1307 non-null   object
 10  survived  1309 non-null   int64
dtypes: float64(2), int64(4), object(5)
memory usage: 112.6+ KB

,pclass,age,sibsp,parch,fare,survived
count,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,1309.000000
mean,2.294882,29.881135,0.498854,0.385027,33.295479,0.381971
std,0.837836,14.413500,1.041658,0.865560,51.758668,0.486055
min,1.000000,0.166700,0.000000,0.000000,0.000000,0.000000
25%,2.000000,21.000000,0.000000,0.000000,7.895800,0.000000
50%,3.000000,28.000000,0.000000,0.000000,14.454200,0.000000
75%,3.000000,39.000000,1.000000,0.000000,31.275000,1.000000
max,3.000000,80.000000,8.000000,9.000000,512.329200,1.000000

In [ ]:
data.sample(10)  # randomly fetches rows and columns

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
501,2,"Mellinger, Miss. Madeleine Violet",female,13.0,0,1,250644,19.5000,NaN,S,1
38,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S,0
284,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN,1
1064,3,"Niskanen, Mr. Juha",male,39.0,0,0,STON/O 2. 3101289,7.9250,NaN,S,1
297,1,"Thorne, Mrs. Gertrude Maybelle",female,NaN,0,0,PC 17585,79.2000,NaN,C,1
1157,3,"Rosblom, Mr. Viktor Richard",male,18.0,1,1,370129,20.2125,NaN,S,0
1072,3,"O'Connell, Mr. Patrick D",male,NaN,0,0,334912,7.7333,NaN,Q,0
95,1,"Dodge, Mrs. Washington (Ruth Vidaver)",female,54.0,1,1,33638,81.8583,A34,S,1
849,3,"Hansen, Mr. Henrik Juul",male,26.0,1,0,350025,7.8542,NaN,S,0
375,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S,0

# boolean Filtering

In [ ]:
# boolean filtering(true or false output)

data['age']>18
data[((data['age']>18) & (data['sex']=='male')) | (data['fare']>500) ]  # gives only the true statements from this table

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0,1,2,113781,151.5500,C22 C26,S,0
5,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.5500,E12,S,1
7,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0000,A36,S,0
9,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C,0
10,1,"Astor, Col. John Jacob",male,47.0,1,0,PC 17757,227.5250,C62 C64,C,0
...,...,...,...,...,...,...,...,...,...,...,...
1299,3,"Yasbeck, Mr. Antoni",male,27.0,1,0,2659,14.4542,NaN,C,0
1301,3,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.2250,NaN,C,0
1306,3,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.2250,NaN,C,0
1307,3,"Zakarian, Mr. Ortin",male,27.0,0,0,2670,7.2250,NaN,C,0
1308,3,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.8750,NaN,S,0

# Grouping

In [ ]:
# grouping

# grouping is done on categorical columns
data['sex'].unique()

females=data.groupby('sex').get_group('female')   # gives output as dataframes so we can perform operations on the output

embarked_S_from_females= females.groupby('embarked').get_group('S')

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0,0,0,24160,211.3375,B5,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1,2,113781,151.5500,C22 C26,S,0
6,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S,1
8,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0,2,0,11769,51.4792,C101,S,1
...,...,...,...,...,...,...,...,...,...,...,...
1267,3,"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...",female,30.0,1,1,345773,24.1500,NaN,S,0
1273,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S,0
1276,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,0
1279,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,0
1290,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1

In [ ]:
embarked_C_from_females= females.groupby('embarked').get_group('C')
embarked_C_from_females

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
11,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0,1,0,PC 17757,227.5250,C62 C64,C,1
12,1,"Aubart, Mme. Leontine Pauline",female,24.0,0,0,PC 17477,69.3000,B35,C,1
17,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0,1,PC 17558,247.5208,B58 B60,C,1
18,1,"Bazzani, Miss. Albina",female,32.0,0,0,11813,76.2917,D15,C,1
23,1,"Bidois, Miss. Rosalie",female,42.0,0,0,PC 17757,227.5250,NaN,C,1
...,...,...,...,...,...,...,...,...,...,...,...
1258,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29.0,0,2,2650,15.2458,NaN,C,1
1286,3,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0,0,0,2688,7.2292,NaN,C,1
1300,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0,1,0,2659,14.4542,NaN,C,1
1304,3,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,0
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0

# Statistical functions

In [ ]:
np.mean(embarked_C_from_females['age'])

np.float64(31.224489795918366)

In [ ]:
data

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0
...,...,...,...,...,...,...,...,...,...,...,...
1304,3,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,0
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0
1306,3,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,0
1307,3,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,0
1308,3,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,0

In [ ]:
fare_gt_400= data[data['fare']>400]   # boolean filtering
fare_gt_400.groupby('sex').get_group('female')  # grouping on the output of boolean filtering

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
50,1,"Cardeza, Mrs. James Warburton Martinez (Charlo...",female,58.0,0,1,PC 17755,512.3292,B51 B53 B55,C,1
302,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C,1

In [ ]:
fare_gt_400['name'].sum()  # concatenates string

fare_gt_400['name'].str.strip()
fare_gt_400['name'].str.upper()
fare_gt_400['name'].str.replace('Mr','Mrs')

49                   Cardeza, Mrs. Thomas Drake Martinez
50     Cardeza, Mrss. James Warburton Martinez (Charl...
183                              Lesurer, Mrs. Gustave J
302                                     Ward, Miss. Anna
Name: name, dtype: object

# aggregate functions

In [ ]:
data['fare'].max()
data['fare'].min()
data['fare'].mean()
data['fare'].median()
data['fare'].std()
data['fare'].var()

2678.9597378928934

In [ ]:
data['survived'].unique()
died=data.groupby('survived').get_group(0)
female_died=died.groupby('sex').get_group('female')
female_died

female_died[female_died['age']<18]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
2,1,"Allison, Miss. Helen Loraine",female,2.0,1,2,113781,151.5500,C22 C26,S,0
623,3,"Andersson, Miss. Ebba Iris Alfrida",female,6.0,4,2,347082,31.2750,NaN,S,0
624,3,"Andersson, Miss. Ellis Anna Maria",female,2.0,4,2,347082,31.2750,NaN,S,0
627,3,"Andersson, Miss. Ingeborg Constanzia",female,9.0,4,2,347082,31.2750,NaN,S,0
628,3,"Andersson, Miss. Sigrid Elisabeth",female,11.0,4,2,347082,31.2750,NaN,S,0
650,3,"Attalah, Miss. Malake",female,17.0,0,0,2627,14.4583,NaN,C,0
679,3,"Boulos, Miss. Nourelain",female,9.0,1,1,2678,15.2458,NaN,C,0
807,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.0,2,2,W./C. 6608,34.3750,NaN,S,0
828,3,"Goodwin, Miss. Jessie Allis",female,10.0,5,2,CA 2144,46.9000,NaN,S,0
829,3,"Goodwin, Miss. Lillian Amy",female,16.0,5,2,CA 2144,46.9000,NaN,S,0
841,3,"Hagardon, Miss. Kate",female,17.0,0,0,AQ/3. 30631,7.7333,NaN,Q,0
937,3,"Klasen, Miss. Gertrud Emilia",female,1.0,1,1,350405,12.1833,NaN,S,0
1098,3,"Palsson, Miss. Stina Viola",female,3.0,3,1,349909,21.0750,NaN,S,0
1099,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,0
1112,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S,0
1156,3,"Rosblom, Miss. Salli Helena",female,2.0,1,1,370129,20.2125,NaN,S,0
1208,3,"Skoog, Miss. Mabel",female,9.0,3,2,347088,27.9000,NaN,S,0
1209,3,"Skoog, Miss. Margit Elizabeth",female,2.0,3,2,347088,27.9000,NaN,S,0
1230,3,"Strom, Miss. Telma Matilda",female,2.0,0,1,347054,10.4625,G6,S,0
1265,3,"Van Impe, Miss. Catharina",female,10.0,0,2,345773,24.1500,NaN,S,0
1279,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,0
1304,3,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,0

In [ ]:
data.groupby(['sex','survived']).get_group(('female',1))  # multiple grouping

# count() only counts the not null values

pclass      339
name        339
sex         339
age         292
sibsp       339
parch       339
ticket      339
fare        339
cabin       133
embarked    337
survived    339
dtype: int64

In [ ]:
# handling missing values

# we can drop the entire row where null/nan null is there

data.dropna()

# fill na--> filling nan/null with something else

filling_cabin= data['cabin'].fillna('unknown')
filling_cabin.unique()

data['cabin']=filling_cabin  # changing the original dataset
data['cabin'].unique()

# fill na--> for integers we can fill with 0,mean,mode

# filling with backward fill and forward fill

data['cabin'].fillna(method='ffill').count()
data['cabin'].fillna(method='bfill').count()

# duplicates

data.duplicated().value_counts()


# conversion of a column's datatype into another datatype
data['age']=data['age'].fillna(0)
data['age'].astype(int)

/tmp/ipython-input-2043888177.py:19: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['cabin'].fillna(method='ffill').count()
/tmp/ipython-input-2043888177.py:20: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['cabin'].fillna(method='bfill').count()

0       29
1        0
2        2
3       30
4       25
        ..
1304    14
1305     0
1306    26
1307    27
1308    29
Name: age, Length: 1309, dtype: int64