<a href="https://colab.research.google.com/github/smayan-kumar-panda/capGcodes/blob/main/PANDAS_JOINS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dept_data = {'deptno':[1045,1046,1047,1048,1049],
             'deptname':['sales','support','marketing','IT','accounts'],
             'maxsal':[500000,450000,400000,800000,1000000]}
dept = pd.DataFrame(dept_data)
dept

   deptno   deptname   maxsal
0    1045      sales   500000
1    1046    support   450000
2    1047  marketing   400000
3    1048         IT   800000
4    1049   accounts  1000000

In [ ]:
emp1_data = {'empid':[111,112,113,114,115,116,117,118,119,121,122,123,124],
             'name':['SRK','salman','HRX','allu','amir','Khiladi','chiranjeev','ram','sonu','rajpal','anil','kapil','carry'],
             'deptno':[1045,1047,1046,1046,1045,1049,1048,1045,1047,1048,1049,1046,1048],
             'salary':[430000,200000,425000,375000,400000,850000,600000,465000,240000,550000,995000,320000,750000]}

emp1 = pd.DataFrame(emp1_data)
emp1

    empid        name  deptno  salary
0     111         SRK    1045  430000
1     112      salman    1047  200000
2     113         HRX    1046  425000
3     114        allu    1046  375000
4     115        amir    1045  400000
5     116     Khiladi    1049  850000
6     117  chiranjeev    1048  600000
7     118         ram    1045  465000
8     119        sonu    1047  240000
9     121      rajpal    1048  550000
10    122        anil    1049  995000
11    123       kapil    1046  320000
12    124       carry    1048  750000

In [ ]:
emp2_data = {'empid':[111,112,113,114,115,116,117,118,119,121,122,123,124],
             'name':['SRK','salman','HRX','allu','amir','Khiladi','chiranjeev','ram','sonu','rajpal','anil','kapil','carry'],
             'deptno':[1045,1047,1054,1046,1045,1049,1050,1045,1047,1048,1049,1005,10049],
             'salary':[430000,200000,425000,375000,400000,850000,600000,465000,240000,550000,995000,320000,750000]}

emp2 = pd.DataFrame(emp2_data)
emp2

    empid        name  deptno  salary
0     111         SRK    1045  430000
1     112      salman    1047  200000
2     113         HRX    1054  425000
3     114        allu    1046  375000
4     115        amir    1045  400000
5     116     Khiladi    1049  850000
6     117  chiranjeev    1050  600000
7     118         ram    1045  465000
8     119        sonu    1047  240000
9     121      rajpal    1048  550000
10    122        anil    1049  995000
11    123       kapil    1005  320000
12    124       carry   10049  750000

# Inner **Join**

In [ ]:
pd.merge(dept,emp1,on='deptno',how='inner')

    deptno   deptname   maxsal  empid        name  salary
0     1045      sales   500000    111         SRK  430000
1     1045      sales   500000    115        amir  400000
2     1045      sales   500000    118         ram  465000
3     1046    support   450000    113         HRX  425000
4     1046    support   450000    114        allu  375000
5     1046    support   450000    123       kapil  320000
6     1047  marketing   400000    112      salman  200000
7     1047  marketing   400000    119        sonu  240000
8     1048         IT   800000    117  chiranjeev  600000
9     1048         IT   800000    121      rajpal  550000
10    1048         IT   800000    124       carry  750000
11    1049   accounts  1000000    116     Khiladi  850000
12    1049   accounts  1000000    122        anil  995000

**What it does**


*   Keeps only matching deptno in both tables.
*   Since all emp1 deptno exist in dept  no row loss.

**Result**



*   13 rows (same as emp1)
*   Every employee matched to department
*   No NaN

**Key Point**

*   INNER JOIN returns intersection of keys.

In [ ]:
pd.merge(dept,emp2,on='deptno',how='inner')

   deptno   deptname   maxsal  empid     name  salary
0    1045      sales   500000    111      SRK  430000
1    1045      sales   500000    115     amir  400000
2    1045      sales   500000    118      ram  465000
3    1046    support   450000    114     allu  375000
4    1047  marketing   400000    112   salman  200000
5    1047  marketing   400000    119     sonu  240000
6    1048         IT   800000    121   rajpal  550000
7    1049   accounts  1000000    116  Khiladi  850000
8    1049   accounts  1000000    122     anil  995000

**What it does**


*   Only matching deptnos kept
*   Employees with invalid/not-matching deptno removed

**Rows Lost**


*   empid 113,empid 117,empid 123,empid 124

**Key Point**

*   INNER JOIN removes unmatched rows from both sides

# Left **Join**

In [ ]:
pd.merge(dept,emp1,on='deptno',how='left')

    deptno   deptname   maxsal  empid        name  salary
0     1045      sales   500000    111         SRK  430000
1     1045      sales   500000    115        amir  400000
2     1045      sales   500000    118         ram  465000
3     1046    support   450000    113         HRX  425000
4     1046    support   450000    114        allu  375000
5     1046    support   450000    123       kapil  320000
6     1047  marketing   400000    112      salman  200000
7     1047  marketing   400000    119        sonu  240000
8     1048         IT   800000    117  chiranjeev  600000
9     1048         IT   800000    121      rajpal  550000
10    1048         IT   800000    124       carry  750000
11    1049   accounts  1000000    116     Khiladi  850000
12    1049   accounts  1000000    122        anil  995000

**What it does**


*   Keeps all rows from dept
*   Adds employees where match exists

**Result**



*   Departments with multiple employees  repeated
*   No missing rows because all depts have employees

**Key Point**

*   LEFT JOIN keeps all left table rows.

In [ ]:
pd.merge(dept,emp2,on='deptno',how='left')

   deptno   deptname   maxsal  empid     name  salary
0    1045      sales   500000    111      SRK  430000
1    1045      sales   500000    115     amir  400000
2    1045      sales   500000    118      ram  465000
3    1046    support   450000    114     allu  375000
4    1047  marketing   400000    112   salman  200000
5    1047  marketing   400000    119     sonu  240000
6    1048         IT   800000    121   rajpal  550000
7    1049   accounts  1000000    116  Khiladi  850000
8    1049   accounts  1000000    122     anil  995000


**Result**
*   All departments kept
*   Only matching employees shown
*   Invalid dept employees ignored

**Key Point**

*   LEFT JOIN protects left table (dept).

# Right **Join**

In [ ]:
pd.merge(dept,emp1,on='deptno',how='right')

    deptno   deptname   maxsal  empid        name  salary
0     1045      sales   500000    111         SRK  430000
1     1047  marketing   400000    112      salman  200000
2     1046    support   450000    113         HRX  425000
3     1046    support   450000    114        allu  375000
4     1045      sales   500000    115        amir  400000
5     1049   accounts  1000000    116     Khiladi  850000
6     1048         IT   800000    117  chiranjeev  600000
7     1045      sales   500000    118         ram  465000
8     1047  marketing   400000    119        sonu  240000
9     1048         IT   800000    121      rajpal  550000
10    1049   accounts  1000000    122        anil  995000
11    1046    support   450000    123       kapil  320000
12    1048         IT   800000    124       carry  750000

**What it does**

*   Keeps all rows from emp1
*   Adds dept info

**Result**

*   Same as INNER here (because all deptnos match)

**Key Point**

*   RIGHT JOIN keeps all right table rows.

In [ ]:
pd.merge(dept,emp2,on='deptno',how='right')

    deptno   deptname     maxsal  empid        name  salary
0     1045      sales   500000.0    111         SRK  430000
1     1047  marketing   400000.0    112      salman  200000
2     1054        NaN        NaN    113         HRX  425000
3     1046    support   450000.0    114        allu  375000
4     1045      sales   500000.0    115        amir  400000
5     1049   accounts  1000000.0    116     Khiladi  850000
6     1050        NaN        NaN    117  chiranjeev  600000
7     1045      sales   500000.0    118         ram  465000
8     1047  marketing   400000.0    119        sonu  240000
9     1048         IT   800000.0    121      rajpal  550000
10    1049   accounts  1000000.0    122        anil  995000
11    1005        NaN        NaN    123       kapil  320000
12   10049        NaN        NaN    124       carry  750000

**Result**

*   All emp2 rows kept
*   Invalid dept employees show: NaN
---
deptname = NaN; maxsal   = NaN
---
empid 113  deptno 1054  NaN dept

**Key Point**

*   RIGHT JOIN exposes data quality problems.

#Outer **Join**

In [ ]:
pd.merge(dept,emp1,on='deptno',how='outer')

    deptno   deptname   maxsal  empid        name  salary
0     1045      sales   500000    111         SRK  430000
1     1045      sales   500000    115        amir  400000
2     1045      sales   500000    118         ram  465000
3     1046    support   450000    113         HRX  425000
4     1046    support   450000    114        allu  375000
5     1046    support   450000    123       kapil  320000
6     1047  marketing   400000    112      salman  200000
7     1047  marketing   400000    119        sonu  240000
8     1048         IT   800000    117  chiranjeev  600000
9     1048         IT   800000    121      rajpal  550000
10    1048         IT   800000    124       carry  750000
11    1049   accounts  1000000    116     Khiladi  850000
12    1049   accounts  1000000    122        anil  995000

**What it does**

*   Keeps all rows from both
*   Since all match  same as inner.shape, row order can varry sometimes.

In [ ]:
pd.merge(dept,emp2,on='deptno',how='outer')

    deptno   deptname     maxsal  empid        name  salary
0     1005        NaN        NaN    123       kapil  320000
1     1045      sales   500000.0    111         SRK  430000
2     1045      sales   500000.0    115        amir  400000
3     1045      sales   500000.0    118         ram  465000
4     1046    support   450000.0    114        allu  375000
5     1047  marketing   400000.0    112      salman  200000
6     1047  marketing   400000.0    119        sonu  240000
7     1048         IT   800000.0    121      rajpal  550000
8     1049   accounts  1000000.0    116     Khiladi  850000
9     1049   accounts  1000000.0    122        anil  995000
10    1050        NaN        NaN    117  chiranjeev  600000
11    1054        NaN        NaN    113         HRX  425000
12   10049        NaN        NaN    124       carry  750000

**Result**

*   All dept rows
*   All emp2 rows
*   Invalid dept rows show NaN in dept columns

**Key Point**

*   OUTER JOIN gives full audit view.

**Real-World Interpretation**
---

JoinType----- Business Meaning
---
INNER--------Only valid employee-department relationships
---
LEFT--------Show all departments even if no employees
---
RIGHT--------Show all employees even if invalid dept
---
OUTER--------Full reconciliation / audit
---